<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0,maximum-scale=1, user-scalable=no"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>我的主页</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/my.css" />
  </head>
  <body>
    <div class="top">
      <div>
        <img
          src="<%= data.headimgurl%>"
          class="img-circle"
          style="width: 20% ;"
        />
        <img
          class="qrcode"
          src="https://wechat-1300272476.cos.ap-guangzhou.myqcloud.com/wechat/2020/01/05/63d4a904-518a-45cc-b37a-cd2166039e7c.png"
          style="width: 30%;float:right"
        />
      </div>
      <text class="nickname"><%= data.nickname%></text>
      <text class="nickname marks" style="font-size: 0.8em;color:grey"
        >当前积分为<%if(marks!=null){%><a><%=marks.integralNum%></a><%}else{%>0<%}%></text
      >
      <text class="nickname" style="font-size: 0.8em;color:grey"
        ><%if(rank!=null){%>总排名：<%=rank.userRank%> /
        <%=rank.personNumber%><%}else{%>暂无排名<%}%></text
      >
    </div>
    <div style="margin-top: 1em;">
      <text
        style="font-size: 10rpx;font-weight: 600;font-family: '黑体';margin-top: 1em;margin-left:3em ;"
        >选择想要的操作：</text
      >
    </div>

    <div class="menu">
      <div class="menu-list">
        <span
          class="glyphicon glyphicon-check"
          aria-hidden="true"
          style="color: #ffb880; margin-bottom: 1em;
          font-size: 20px;"
        ></span>
        <text class="title mymark">我要签到</text>
      </div>
      <div class="menu-list">
        <span
          class="glyphicon glyphicon-shopping-cart"
          aria-hidden="true"
          style="color: #84b4ff; margin-bottom: 1em;
          font-size: 20px;"
        ></span>

        <text class="title store">积分商城</text>
      </div>
      <div class="menu-list">
        <span
          class="glyphicon glyphicon-list-alt"
          aria-hidden="true"
          style="color: #f29ac5; margin-bottom: 1em;
          font-size: 20px;"
        ></span>
        <text class="title intro">积分规则</text>
      </div>
      <div class="menu-list">
        <span
          class="glyphicon glyphicon-list"
          aria-hidden="true"
          style="color: #ee6150; margin-bottom: 1em;
          font-size: 20px;"
        ></span>
        <text class="title rank">本月排名</text>
      </div>
      <div class="menu-list">
        <span
          class="glyphicon glyphicon-thumbs-up"
          aria-hidden="true"
          style="color: #bc97e5; margin-bottom: 1em;
          font-size: 20px;"
        ></span>

        <text class="title interest">兴趣社群</text>
      </div>
      <div class="menu-list">
        <span
          class="glyphicon glyphicon-phone-alt"
          aria-hidden="true"
          style="color: #8bd093; margin-bottom: 1em;
          font-size: 20px;"
        ></span>
        <text class="title business">商务合作</text>
      </div>
    </div>
    <div style="margin-top:2em ;padding: 1em;background: #fff;">
      <text
        style="font-size: 12rpx;font-weight: 600;font-family: '黑体';margin-top:
      1em;margin-left:3em ;display: block;margin-left: 1em;"
        >领奖说明</text
      >
      <text
        style="font-size: 8rpx;font-weight: 400;font-family: '黑体';margin-top:
      1em;margin-left:3em ;display: block;margin-left: 2em;"
        >咨询电话：(0574)86966697</text
      ><text
        style="font-size: 8rpx;font-weight: 400;font-family: '黑体';margin-top:
    1em;margin-left:3em ;display: block;margin-left: 2em;"
        >领奖地址：镇小路128号 (新碶小学对面)</text
      >
    </div>

    <script src="https://cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"
    ></script>
    <script src="/js/my.js"></script>
    <script>
      //用户基本信息补充
      $.ajax({
        type: "POST",
        url: "http://203.195.230.234:8080/user",
        // post payload:
        data: JSON.stringify({
          openId: "<%=data.openid%>",
          nickname: "<%=data.nickname%>",
          sex: "<%=data.sex%>",
          language: "<%=data.language%>",
          city: "<%=data.city%>",
          province: "<%=data.province%>",
          country: "<%=data.country%>",
          headimgurl: "<%=data.headimgurl%>",
          privilege: "<%=data.privilege%>"
        }),
        contentType: "application/json"
      });
      //每日签到积分
      $.ajax({
        type: "POST",
        url: "http://203.195.230.234:8080/integralUsersAll/common",
        // post payload:
        data: JSON.stringify({
          integralId: 2,
          integralNum: 1,
          openId: "<%=data.openid%>"
        }),
        contentType: "application/json",
        success: function(data) {
          console.log(data);

          if (data.resultBody != null) {
            alert("每日签到成功");
            $(".marks").html(`当前积分为${data.resultBody}`);
          }
        },

        error: function(xhr, type, error) {
          alert("出错了");
        }
      });
    </script>
  </body>
</html>
